    <!--Footer-->
    <div class="container">
    <div class="footer">
    <div class="row title">
    <div class="col-md-4 title1">
        <b>ADDRESS</b><br>
    15 Beaufain Street<br>
     Charleston, SC 29401
    </div>
    <div class="followUs col-md-4">
        <b>FOLLOW US</b><br>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i><br>
        © 2016 Le Farfalle. Site by O&O.
    </div>
    <div class="col-md-4 contact">
        <b>CONTACT US</b><br>
        843-212-0920<br>
    info@lefarfallecharleston.com
    </div>
    </div>
    </div>
    </div>