    <!--Footer-->
    <div class="container">
    <div class="footer">
    <div class="row" style="text-align:center;margin-top:80px;line-height:20px;">
    <div class="col-md-4" style="border-right:2px dotted green">
        <b>ADDRESS</b><br>
    15 Beaufain Street<br>
     Charleston, SC 29401
    </div>
    <div class="col-md-4"style="border-right:2px dotted green">
        <b>FOLLOW US</b><br><br>
        © 2016 Le Farfalle. Site by O&O.
    </div>
    <div class="col-md-4">
        <b>CONTACT US</b><br>
        843-212-0920<br>
    info@lefarfallecharleston.com
    </div>
    </div>
    </div>
    </div>